/** Color Palette **/
:root
{
	--background-body: #EEF1FF;
	--background-contrast: #D2DAFF;
	--background-highlight: #B1B2FF;

	--text-body: #1A1A1A;
	--text-contrast: #EEF1FF;
	--text-highlight: #4A00B3;
}

/** Base Styling **/
body
{
	background-color: var(--background-body);
	color: var(--text-body);
}

/** Section Styles **/
#landing
{
	background-color: var(--background-highlight);
	min-height: 100vh;
}

#footer
{
	background-color: var(--background-highlight);
	color: var(--text-contrast);
}

/** Container Styling **/
#landing .chatbox
{
	background-color: var(--background-body);
	border-radius: 12px;
}

/** Element Styling **/
p
{
	margin: 0;
}

#landing p
{
	background-color: var(--background-contrast);
	border-radius: 10px 10px 10px 2px;

	padding: 10px;
}

#footer p 
{
	margin: 0;
}

p.highlight
{
	color: var(--text-highlight);
	font-weight: bold;
}

button
{
	background-color: transparent;

	border-style: solid;
	border-color: var(--text-highlight);
	border-radius: 10px 10px 2px 10px;
}

button.highlight
{
	color: var(--text-contrast);
	font-weight: bold;

	background-color: var(--text-highlight);
}